@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Mono:wght@100..700&display=swap");

:root {
  --base-100: #ffffff;
  /* Stark White */
  --base-200: #e0e0e0;
  /* Light Grey */
  --base-250: #bdbdbd;
  /* Medium Grey */
  --base-300: #757575;
  /* Dark Grey */
  --base-350: #424242;
  /* Darker Grey */
  --base-400: #212121;
  /* Almost Black */
  --base-450: #121212;
  /* Black */
  --base-500: #000000;
  /* Pure Black */
  --accent: #ff4500;
  /* Orange Red Accent */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
}

body {
  font-family: "Oswald", sans-serif;
  background-color: var(--base-500);
  color: var(--base-100);
}

section,
.footer {
  background-color: var(--base-500);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-user-select: none;
  user-select: none;
}

h1 {
  font-size: 6rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  line-height: 0.9;
}

h2 {
  font-size: 4rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  line-height: 1;
}

h3 {
  font-size: 2.5rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  line-height: 1.1;
}

p {
  font-family: "Roboto Mono", monospace;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.02rem;
}

p.md {
  font-size: 1rem;
}

p.lg {
  font-size: 1.1rem;
}

p.mono {
  text-transform: uppercase;
  font-family: "Roboto Mono", monospace;
  font-size: 0.8rem;
  font-weight: 500;
}

a {
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--base-100);
  text-transform: uppercase;
}

span.spacer {
  display: inline-block;
  width: 10rem;
}

.container {
  width: 100%;
  height: 100%;
  padding: 2rem;
  max-width: 2000px;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  .container {
    padding: 1rem;
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none !important;
}